:root {
  --fa-primary-color: rgb(53, 167, 255);
}
  
i {
  color: var(--fa-primary-color);
}
  
body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
#quote-box {
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
  
#text {
  font-family: Newsreader ,serif;
  text-align: center;
  font-size: 25px;
}
  
#author {
  font-family: Newsreader, serif;
  text-align: end;
}
  
#buttons {
  display: flex;
}
  
button {
  margin-left: auto;
  background-color: rgb(53, 167, 255);
  border: none;
  padding: 5px;
  font-family: Inter, sans-serif;
  border-radius: 5px;
  color: white;
}